node_modules/
npm-debug.log
.DS_Store
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml


archive/
index.mjs
function.zip
Marc_accessKeys.csv
input.txt
outputfile.txt
